
<div class ="row">
  <div class="span7">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),html:{class: "well"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend> Kick up </legend>
        <%=f.input :first_name %>
        <%=f.input :last_name %>
        <%=f.input :profile_name %>
        <%=f.input :email %>
        <%=f.input :password %>
        <%=f.input :password_confirmation %>


      <div ><%= f.button :submit ,"Sign up"  %> </div>
    </fieldset>
    <% end %>
  </div>

  <div class="span5"><hr>

     <strong><legend>i-World Beta Version</legend></strong>
     <p class="lead"> 'i-world' rite now it allows us to post status like any other socail networking sites...if u wanna to attach your profile picture you have to sign-in www.gravatar.com" and create an account and upload your photo over there.Thank you!!</p>
     </div>
</div>
<%= render "devise/shared/links" %>
